@model ProductViewModel
@{
	ViewData["Title"] = "Edit";
}
<h1>Edit @Model.Name</h1>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
	<input asp-for="Id" hidden />
	<partial name="CreateEditPartialView" model="Model" />
	<br />
	<br />
	<input type="submit" value="Edit" class="btn btn-primary" />
	<a asp-action="Index" class="btn btn-secondary">Back to index</a>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}